Python=3.11.3
SpeechRecognition=3.10.4 # python library for speech recognition
gTTS=2.5.1 # Google TTS library for speech recognition
playsound=1.3.0
pyaudio=0.2.14
wikipedia=1.4.0
pyautogui=0.9.54
pyjokes
winshell=0.6
pytz=2023.3.post1
pyttsx3
